

body {background-color: rgb(249, 251, 252);}


/* HOME PAGE */

#head{
    background-color:  rgb(207, 219, 241);
    padding-top: 40px;
    padding-bottom: 70px;  
    border-radius: 7px;
}

#main__title{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    border-bottom: 2px solid black;
}

#website__description{
    margin-top: -40px;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
    margin-bottom: 20px;
}

.header__image{
    display: flex;
    justify-content: center;
}

.second__main__title{
    display: flex;
    justify-content: center;
    
}


h2{
    display: flex;
    justify-content: center;
    
}

.category__img{
    display: flex;
    justify-content: center;
}

/* .videos{
    background-color:  rgb(207, 219, 241);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 70px;  
    border-radius: 7px;
} */


.hashtags{
    background-color:  rgb(207, 219, 241);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;  
    border-radius: 7px;
}

footer{
	display: flex;
	justify-content: center;
    margin : 20px;
    font-size: 20px;
    font-weight: 500;
}

.hash__list__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hash__list__item {
    padding: 1.5rem;
}

.hash__box {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.nav-bar {
    list-style-type:none;
    display: flex;
    flex-direction: row;
}

.hashtag__input__box {
    align-self: center;
    margin: 1rem;
    max-width: 25%;
}

.hashtag__submit {
    align-self: center;
    margin: 1rem;
    max-width: 25%;
}




/* CATEGORY PAGE */

.reviews {
    padding-top: 1.5rem;

}
.review__container{
    min-height: 75vh;

}
.city__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;   
}

.videos{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:  rgb(207, 219, 241);
    border-radius: 7px;
}


h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.category__footer{
    align-self: flex-end;
}




/* REVIEW PAGE */

ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.review__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.review__image{
    display: flex;
    justify-content: center;
}

.review__desc{
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color:  rgb(207, 219, 241);
    border-radius: 7px;
}


/* HASHTAG PAGE */

.hashtag__container {
    min-height: 75vh;

}

.hashtag__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}



#footer{
	display: flex;
	justify-content: center;
    align-self: flex-end;
	margin : 20px;
}



