

body {background-color: rgb(249, 251, 252);}


/* HOME PAGE */

#head{
    background-color:  rgb(207, 219, 241);
    padding-top: 40px;
    padding-bottom: 70px;  
    border-radius: 7px;
}

#main__title{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    border-bottom: 2px solid black;
}

#website__description{
    margin-top: -40px;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
    margin-bottom: 20px;
}

.header__image{
    display: flex;
    justify-content: center;
}

.second__main__title{
    display: flex;
    justify-content: center;
    
}

h2{
    display: flex;
    justify-content: center;
}

.category__img{
    display: flex;
    justify-content: center;
}

.hashtags{
    background-color:  rgb(207, 219, 241);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;  
    border-radius: 7px;
}




/* CATEGORY PAGE */

.city__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;   
}


h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}




/* REVIEW PAGE */

ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.review__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.review__image{
    display: flex;
    justify-content: center;
}

.review__desc{
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color:  rgb(207, 219, 241);
    border-radius: 7px;
}


/* HASHTAG PAGE */

.hashtag__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}





