
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    background-color: rgb(249, 251, 252);
    font-family: Oswald;
}


/* HOME PAGE */

#head{
    background-color:  rgb(207, 219, 241);
    padding-top: 30px;
    padding-bottom: 70px;  
    border-radius: 7px;
}

.nav__home a{
    font-size: 25px;
    font-weight: 500;
    padding-left: 10px;
    text-decoration: none;
}

#main__title{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 7px;
    border-bottom: 2px solid black;
}

#website__description{
    margin-top: -40px;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 27px;
}

.header__image{
    display: flex;
    justify-content: center;
}

#recent__cities{
    display: flex;
    justify-content: center;
    font-size: 35px;
    border-bottom: 2px solid black;
}


h2{
    display: flex;
    justify-content: center;
    font-size: 35px;  
}


.category__img{
    display: flex;
    justify-content: center;
}


.hashtags{
    background-color:  rgb(207, 219, 241);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;  
    border-radius: 7px;
}

#hashtags__title{
    font-size: 35px;
}

footer{
	display: flex;
	justify-content: center;
    margin : 20px;
    font-size: 25px;
    font-weight: 500;
}

.hash__list__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 500;
}

.hash__list__item {
    padding: 1.5rem;
}

.hash__box {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.nav-bar {
    list-style-type:none;
    display: flex;
    flex-direction: row;
}

.hashtag__input__box {
    align-self: center;
    margin: 1rem;
    max-width: 25%;
}

.hashtag__submit {
    align-self: center;
    margin: 1rem;
    max-width: 25%;
}






/* CATEGORY AND REVIEW PAGE NAV */

.nav{
    font-size: 25px;
    font-weight: 500;
    padding-left: 7px;
    margin: 5px;
    border: 1px solid blue;
    box-sizing: border-box;
    border-radius: 7px;  
}

.nav a{
    text-decoration: none; 
}



/* CATEGORY PAGE */

.reviews {
    padding-top: 1.5rem;

}
.review__container{
    min-height: 75vh;

}
.city__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;   
}

.videos{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:  rgb(207, 219, 241);
    border-radius: 7px;
}


h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    font-size: 25px;
}

.category__footer{
    align-self: flex-end;
}








/* REVIEW PAGE */

ul li {
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;   
    padding-left: 1rem;
  
}

.review__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.review__image{
    display: flex;
    justify-content: center;
}

.review__desc{
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color:  rgb(207, 219, 241);
    border-radius: 7px;
    font-size: 27px;
}






/* HASHTAG PAGE */

.hashtag__container {
    min-height: 75vh;

}

.hashtag__title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}



#footer{
	display: flex;
	justify-content: center;
    align-self: flex-end;
	margin : 20px;
}







/* ADD-REVIEW PAGE */

.add__review__body{
    background-color:  rgb(207, 219, 241);
}


.add__review__container{
    min-height: 75vh;
}


.link__to__homepage a{
    text-decoration: none; 
}


.add__review__text{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#category{
    width: 10%;
    margin-left: 1rem;
    
}

#reviewName{
    width: 10%;
    margin-left: 1rem;
    
}

#reviewDesc{
    width: 30rem;
    height: 12.5rem;
    margin-left: 1rem;
    
}

#reviewImg{
    width: 15%;
    margin-left: 1rem;
    
}

#submit__review{
    width: 5%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.category__label{
    margin-left: 1rem;
}

.review__name__label{
    margin-top: 1rem;
    margin-left: 1rem;
}

.review__desc__label{
    margin-top: 1rem;
    margin-left: 1rem;
}

.link__to__img{
    margin-top: 1rem;
    margin-left: 1rem;
}

.add__review__footer{
    justify-self: flex-end;
}

