<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hiker's Guide To the US</title>
</head>

<body>

    <header class="add__review__header">
        <h1 class="add__review__text">Add new Review</h1>
    </header>

    <div class="add__review__container">
        <main class="add__review__main">
            <form action="/add-review/success/" method="post">
                <label for="category">Choose a City:</label>
                <select name="category" id="category">
                    <th:block th:each="category:${categories.getAllCategories()}">
                        <option th:value="${category.id}" th:text="${category.name}">Miami</option>
                    </th:block>
                </select>

                <label for="reviewName">Review Name:</label>
                <input type="text" name="reviewName" id="reviewName">

                <label for="reviewDesc">Review Description:</label>
                <input type="text" name="reviewDesc" id="reviewDesc">

                <label for="reviewImg">Link an image of the destination:</label>
                <input type="text"  name="reviewImg" id="reviewImg">

                <input type="submit">
            </form>
        </main>
    </div>

</body>

</html>