<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../css/style.css"  >
    <link rel="stylesheet" href="../css/layout.css"  >
    <title>Hiker's Guide To the US</title>
</head>

<body class="add__review__body">

    <header class="add__review__header">
        <ul class="nav-bar"> 
            <li class="nav"><a th:href="'/'" href="./index.html">Back to <span >Home Page</span></a></li>
        </ul>
        <h1 class="add__review__text">Add New Review</h1>
    </header>

    <div class="add__review__container">
        <main class="add__review__main">
            
            <form action="/add-review/success/" method="post">
                <div class="form">
                <label class="category__label" for="category">Choose a City:</label>
                <select name="category" id="category">
                    <th:block th:each="category:${categories.getAllCategories()}">
                        <option th:value="${category.id}" th:text="${category.name}">Miami</option>
                    </th:block>
                </select>

                <label class="review__name__label" for="reviewName">Review Name:</label>
                <input type="text" name="reviewName" id="reviewName">

                <label class="review__desc__label" for="reviewDesc">Review Description:</label>
                <textarea type="text" name="reviewDesc" id="reviewDesc"></textarea>

                <label class= "link__to__img" for="reviewImg">Link an image of the destination:</label>
                <input type="text"  name="reviewImg" id="reviewImg">

                
                <input id="submit__review" type="submit">
            </div>
            </form>
        </main>
    </div>

    <footer class="add__review__footer">Hiker's Guide to the US | 2021 © |</footer>
</body>

</html>