<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"  >
    <link rel="stylesheet" href="../css/layout.css"  >

    <title>Hiker's guide to the US</title>


</head>

  
    <body class="category__body">
    
        <header>
            <ul class="nav-bar"> 
                <li class="nav"><a th:href="'/'" href="./index.html">Back to <span >Home Page</span></a></li>
            </ul>
                <h1 class="city__title" th:text="${category.name}">Miami</h1>
            
        </header>

        <div class="review__container">
            <main class="reviews">
                <div class="videos">
                <iframe width="660" height="415" th:src="@{${category.videoUrl}}" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <th:block th:each="review: ${category.reviews}">
                <a href="./review-page.html" th:href="@{ '/cities/' + ${category.name} + '/' + ${review.title}}">
                <h3 th:text= "${review.title}">Wynwood Walls</h3>
                </a>
            </th:block>
            </main>
        </div>


        <footer class="category__footer">Hiker's Guide to the US | 2021 © |</footer>
    </body>




</html>


<!--<body>-->
<!--<header class="city__header">-->
<!--    <h1 class="city__title" th:text="${review.categoryName}">Miami</h1>-->
<!--</header>-->


<!--<div class="attractions__container">-->
<!--    <main class="attractions">-->
<!--        <th:block th:each="review: ${city.reviews}">-->
<!--            <h3 th:text= "${review}"><a href="./review-page.html" th:href="/categories-page/${review}">Wynwood Walls</a></h3>-->
<!--        </th:block>-->


<!--    </main>-->
<!--</div>-->

<!--</body>-->