<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Hiker's guide to the US</title>


</head>

  
    <body>
        <a th:href="'/'" href="./index.html" class="">Back to <span >Home Page</span></a>
        <header class="category__header">
            <h1 class="city__title" th:text="${category.name}">Miami</h1>
        </header>

        <div class="review__container">
            <main class="reviews">
            <th:block th:each="review: ${category.reviews}">
                <a href="./review-page.html" th:href="@{ ${category.name} + '/' + ${review}}">
                <h3 th:text= "${review}">Wynwood Walls</h3>
                </a>
            </th:block>
            </main>
        </div>
    </body>


</html>


<!--<body>-->
<!--<header class="city__header">-->
<!--    <h1 class="city__title" th:text="${review.categoryName}">Miami</h1>-->
<!--</header>-->


<!--<div class="attractions__container">-->
<!--    <main class="attractions">-->
<!--        <th:block th:each="review: ${city.reviews}">-->
<!--            <h3 th:text= "${review}"><a href="./review-page.html" th:href="/categories-page/${review}">Wynwood Walls</a></h3>-->
<!--        </th:block>-->


<!--    </main>-->
<!--</div>-->

<!--</body>-->