<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Hiker's guide to the US</title>


</head>

<body>
    <header class="city__header">
        <h1 class="city__title" th:text="${city.name}">Miami</h1>
    </header>


    <div class="attractions__container">
        <main class="attractions">
        <th:block th:each="review: ${city.reviews}">
            <a href="./review-page.html" th:href="@{/categories-page/${review}}">
            <h3 th:text= "${review}">Wynwood Walls</h3>
            </a>
        </th:block>


        </main>
    </div>

</body>
</html>