<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiker's guide to the US</title>
    <link rel="stylesheet" href="/css/style.css"  >
    <link rel="stylesheet" href="/css/layout.css"  >

</head>

<header id="head">
    <nav>
        <a href="#recent_cities">| Recent Cities |</a>
        <a href="#hashtags__title">Hashtags |</a>
        <a th:href="'/add-review'">Add Review |</a>
        
    </nav>
    <h1 id="main__title">Hiker's guide to the US</h1>
    <h3 id="website__description">
        The ultimate place for checking out some of the most exciting cities within the USA.
    </h3>

    <div class="header__image">
        <img src="/images/hikers.jpg" width="1100px" height="600px" alt="">
    </div>
</header>

<body>
<div class="second__main__title">
    <h1 id="recent_cities">Recent Cities</h1>
</div>


<th:block th:each="category: ${categories.getAllCategories()}">

    <div class="category">

  
        <a th:href="@{'/cities/' + ${category.name}}" href="./categories-page.html">
            <h2 class="category__header" th:text="${category.name}">Miami
            </h2>
            <div class="category__img">
                <img id="category__img" src="../static/images/miami_cropped.jpg" th:src="@{'' + ${category.imageUrl}}"
                     width="1000px" height="400px" alt="Picture of City">
            </div>
        </a>
    </div>

</th:block>




<section class="hashtags">
    <h2 id="hashtags__title">Hashtags</h2>
    <aside class="hash__list">
        <ul class="hash__list__content" style="list-style-type: none;">
            <th:block th:each="hashtag: ${hashtags.getAllHashtags()}">
                <li class="hash__list__item"><a th:text="${hashtag.hashtag} + ${hashtag.name} " th:href="'/hashtags/' + ${hashtag.name}">#Restaurants </a></li>

            </th:block>
        </ul>
    </aside>
    <form action="/add-hashtag" class="hash__box">
        <input class="hashtag__input__box" type="text" name="hashtag">
        <input class="hashtag__submit" type="submit" value="Add Hashtag">
    </form>
</section>


</body>

<footer id= "footer"> Hiker's Guide | 2021 © |<a href="#head" ><strong>Back to top</strong></a>
</footer>

</html>