<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiker's guide to the US</title>
    <link rel="stylesheet" href="../static/css/style.css" >
    <link rel="stylesheet" href="../static/css/layout.css" th:href="@{css/layout.css}" >
</head>

<header>
    <h1 id="main__title">Hiker's guide to the US
    </h1>
    <h3 id="website__description">
        The ultimate place for checking out some of the most exciting cities within the USA.
    </h3>

    <div class="header__image">
        <img src="../static/images/1024px-boombox.jpg" width="1100px" height="500px" alt="">
    </div>
</header>

<body>
<div class="second__main__title">
    <h1>Recent Cities</h1>
</div>

<div class="miami">
    <a href="./categories-page.html">
        <h2 class="miami__header">Miami
        </h2>
        <div class="miami__img">
            <img id="miami__img" src="../static/images/miami_cropped.jpg" width="1000px" height="350px" alt="Picture of Miami">
        </div>
    </a>
</div>


<div class="charleston">
    <a href="">
        <h2 class="charleston__header">Charleston
        </h2>
        <div class="charleston__img">
            <img src="../static/images/charleston_skyline.jpg" width=1000px height="450px" alt="Picture of Charleston">
        </div>
    </a>
</div>


<div class="columbus">
    <a href="">
        <h2 class="columbus__header">Columbus
        </h2>
        <div class="columbus__img">
            <img src="../static/images/columbus.jpg" width="1000px" height="300px" alt="Picture of Columbus">
        </div>
    </a>
</div>


<div class="san__francisco">
    <a href="">
        <h2 class="san__francisco__header">San Francisco
        </h2>
        <div class="san__francisco__img">
            <img src="../static/images/joonyeop-baek-1kf69eE7VR4-unsplash.jpg" width="1000px" height="400px" alt="San Francisco Header" class="san__francisco__img">
        </div>
    </a>
</div>


<div class="hashtags" >
    <h2 id="hashtags__title">Hashtags</h2>

    <div class="inlined">
        <div class="block">
            <div class="all_hashtags">
                #Restaurants
            </div>
            <div class="all_hashtags">
                #Nightlife
            </div >
            <div>
                #Bridge
            </div>
        </div>

        <div class="block">
            <div class="all_hashtags">
                #Shopping
            </div >
            <div class="all_hashtags">
                #Culture
            </div >
        </div>
    </div>
</div>



    <!-- <section class="hashtags">
        <aside class="hash__list">
            <ul class="hash__list__content" style="list-style-type: none;" >
                <li><a href="">#Restaurants </a></li>
                <li><a href="">#Nightlife </a></li>
                <li><a href="">#Bridge </a></li>
                <li><a href="">#Shopping</a></li>
                <li><a href="">#Culture</a></li>
            </ul>
        </aside>
    </section> -->



</body>

</html>