<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hiker's Guide to the US</title>
    <link rel="stylesheet" href="../../css/style.css"  >
    <link rel="stylesheet" href="../../css/layout.css"  >
</head>
<body class="review__submitted__body">

<main class="review__submitted">
<h1 id="review__submitted__title">Your Review was submitted.</h1>
<h2 id="thank__you">Thank You!</h2>


<a class= "back__home__from__review__submitted" th:href="'/'" href="./index.html" >Back to <span >Home Page</span></a>
</main>



<footer>Hiker's Guide to the US | 2021 © |</footer>
</body>


</html>