<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Hiker's guide to the US</title>

    
</head>

<body>
    <header class="city__header">
        <h1 class="city__title" th:text="${review.categoryName}">Miami</h1>
    </header>

    <div class="container">
        <main class="reviews">
            <section class="review__section">
                <h2 class="review__title" th:text="${review.title}">Wynwood Walls</h2>
                <img src="../static/images/Wynwood.jpg" th:src="@{review.imageUrl}"
                    alt="Picture of Attraction">
                <p class="review__desc" th:text="${review.description}">Located in a neighborhood between the
                    design district and downtown, Wynwood has become a haven for aspiring painters, graffiti artists,
                    creatives and young innovators alike.
                    It's filled with beautiful art galleries with known artist from all over the world, and as visitors
                    walk through the streets of this lively neighborhood, murals decorate it's wall making it a unique
                    experience.
                    You can find high end restaurants as well as food trucks with a variety of type of food.
                    Every second Saturday of the month, the neighborhood has an event called "Art Walk" where galleries
                    are open until midnight and local artist setup shops in an open area, bazar alike. </p>
            </section>
        </main>
    </div>

</body>

</html>